@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
header{
    font-family: 'Ubuntu', sans-serif;
}
main#main{
    overflow: auto;
    font-family: 'Bona Nova', serif;
    font-weight: bold;

}
#search{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}
#form{
    display:grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 50% 50%;
    
    
}
#checkboxes{
    grid-column: 1/2;
    grid-row: 2/2;
    align-self: center;
    justify-self: center;
    
}
#checkboxes label{
    display: initial;
    
}
@media screen and (max-width: 576px) { 
    button[type="submit"]{
        margin:auto
    }
    nav.navbar{
        margin:auto;
        text-align: center;
        display: block !important;
    }
    table.table{
        overflow: auto;
    }
 }

